<h2>Salaries  
  <% if @department %>
    by Department: <em><%= @department.name %></em>
  <% elsif params[:query] %>
    for Search: <em><%= params[:query] %></em>
  <% else %>
    for all departments
  <% end %>
</h2>

<%= nav = paginate @employees %>

<table id="salary-table" class="table table-striped">
  <tr>
    <th style="width:40%">Job Title</th>
    <th style="width:40%">Department</th>
    <th style="width:20%">Salary</th>
  </tr>

  <% if @employees.blank? %>
    <tr class="odd"><td colspan="3" style="text-align:center;">No results for this search.</td></tr>
  <% end %>

  <% @employees.each do |employee|%>
    <tr>
      <td><%= employee.job_title %></td>
      <td><%= link_to employee.dept_name, department_path(slug: employee.dept_slug) %></td>
      <td><%= number_to_currency(employee.salary) %></td>
    </tr>
  <% end %>
</table>

<%= nav %>
